body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
}

input {
  font-size: 20px;
  margin-bottom: 20px;
  width: 400px;
}

.piechart {
  width: 200px;
  height: 200px;
  background-image: conic-gradient(green var(--percentage), lightgreen 0);
  border-radius: 50%;
}
