.App {
  text-align: center;
}

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}

.category {
  font-size: 10px;
  font-style: italic;
}

.filters {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.selected {
  background-color: black;
  color: white;
}
