.toast-container {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.toast {
  background-color: green;
  width: 12rem;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  position: relative;
  font-size: 1rem;
  animation: slide 0.5s 1;
  margin: 0.5rem;
}

.toast span {
  position: absolute;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.success {
  background-color: green;
}

.info {
  background-color: yellow;
}

.warning {
  background-color: orange;
}

.error {
  background-color: red;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
