.container {
  display: grid;
  height: 16rem;
  width: 16rem;
  grid-template-columns: repeat(6, 1fr);
}

.cards {
  height: 2rem;
  width: 2rem;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}
