* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
  text-align: center;
}

.body {
  display: flex;
  flex: 1;
}

header {
  background-color: tomato;
  height: 60px;
}

nav {
  background-color: coral;
  width: 100px;
}

main {
  flex: 1;
  background-color: moccasin;
}

aside {
  background-color: sandybrown;
  width: 100px;
}

footer {
  background-color: slategray;
  height: 100px;
}
