.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tabs__content {
  width: 16rem;
  height: 10rem;
  border: 1px solid black;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border-bottom: none;
}
