.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
}

.testimonial-wrap {
  width: 100%;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 32px;
}
