.side-nav-container {
  background-color: var(--dark);
  width: 300px;
  height: 100vh;
  position: relative;
  color: var(--light);
  transition: width 0.4s ease;
}

.side-nav-container-NX {
  width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
  display: grid;
}

.nav-heading {
  grid-template-columns: 2fr 1fr;
  height: 75px;
}

.nav-brand {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.hamburger span {
  display: block;
  margin-top: 5px;
  height: 5px;
  width: 35px;
  background-color: var(--light);
  border-radius: 15px;
  transition: 0.4s;
}

.hamburger:hover span {
  background-color: var(--primary);
}

.hamburger-in:hover span:nth-child(1) {
  width: 25px;
  transform: translateY(4px) rotate(-25deg);
}
.hamburger-in:hover span:nth-child(2) {
  width: 40px;
}
.hamburger-in:hover span:nth-child(3) {
  width: 25px;
  transform: translateY(-4px) rotate(25deg);
}

.hamburger-out {
  margin-left: 24px;
}

.hamburger-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(14px, 4px) rotate(-155deg);
}

.hamburger-out:hover span:nth-child(2) {
  width: 40px;
}

.hamburger-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(14px, -4px) rotate(155deg);
}

.nav-menu {
  margin-top: 50px;
  grid-template-rows: repeat(8, 1fr);
}

.menu-item {
  height: 57px;
  display: flex;
  align-items: center;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 20px;
  border-radius: 10px;
  padding-left: 20px;
  transition: background-color 0.3s ease;
}

.menu-item-NX {
  justify-content: center;
  margin: auto;
}

.menu-item:hover {
  background-color: var(--primary);
}

.nav-footer {
  width: 100%;
  height: 87px;
  position: absolute;
  bottom: 0;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.nav-details {
  padding-left: 20px;
}

.nav-footer-user-name {
  font-size: 18px;
  font-weight: 900;
}

.nav-footer-user-position {
  margin-top: -10px;
  color: var(--gray);
}

.logout-btn {
  margin: auto;
  background: none;
  border: none;
  color: var(--light);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: var(--primary);
}
