.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

span {
  animation: hideAndShow 1s infinite;
}

@keyframes hideAndShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
