body {
  background-color: #06b6d4;
}

.container {
  width: 400px;
  height: 450px;
  background-color: white;
  margin: 100px auto;
}

.inputs {
  margin: 0 40px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

input {
  width: 100%;
  height: 35px;
}

.output {
  text-align: center;
  margin-top: 20px;
}
